body {
  font-family: "roboto", sans-serif;
  color: rgb(33, 33, 33);
}

.logo {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.logo-color-special {
  color: rgb(33, 150, 243);
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-contact {
  color: rgb(117, 117, 117);
}
.header-active-web,
.header:hover,
.header:focus {
  color: rgb(33, 150, 243);
}
.mainpage-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: rgb(225, 225, 225);
  background-color: rgb(47, 48, 58);
}
.button-pointer {
  cursor: pointer;
}
.mainpage-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
}
.mainpage-our-strengths-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.mainpage-our-strengths {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}
.mainpage-titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
